<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- WanDev02
		<add name="MatrixZeroEntities" connectionString="metadata=res://*/MatrixZeroModel.csdl|res://*/MatrixZeroModel.ssdl|res://*/MatrixZeroModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WANDEV02;initial catalog=MatrixZero;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		-->
		<!-- VsDev01 -->
		<add name="MatrixZeroEntities" connectionString="metadata=res://*/MatrixZeroModel.csdl|res://*/MatrixZeroModel.ssdl|res://*/MatrixZeroModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VsDev01.versatis.net;initial catalog=MatrixZero;User Id=Administrator;Password=*DUifdS#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ReportingEntities" connectionString="metadata=res://*/ReportingModel.csdl|res://*/ReportingModel.ssdl|res://*/ReportingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VsDev01.versatis.net;initial catalog=Reporting;User Id=Administrator;Password=*DUifdS#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>