<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MatrixZeroEntities" connectionString="metadata=res://*/MatrixZeroModel.csdl|res://*/MatrixZeroModel.ssdl|res://*/MatrixZeroModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WANDEV02;initial catalog=MatrixZero;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>